/** @format */

.container {
	display: block;
	width: 100%;
	max-width: $container-width * 1px;

	padding: 0px 1rem;
	margin: 0px auto;

	&-fluid {
		display: flex;
		flex-direction: column;

		width: 100%;

		padding: 1rem 0px;
	}

	// section {
	// 	padding: 4rem 0;

	// 	&:not(:last-of-type) {
	// 		border-bottom: 10px solid rgb(223, 223, 223);
	// 	}
	// }
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
}
