#mainHeader {
    background-color: color("primary");
    position: sticky;
    top: 0;
    left: 0;
    max-width: 100%;
#hamburgerContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: color("primary");
}
}
