// Function not needed, might come in handy later
// @function set-btn-darken-percentage($color) {
//     @if (lightness($color) > 80) {
//       @return 40%;
//     }
//     @else {
//       @return 10%;
//     }
// }

@function set-btn-text-color($color) {
  @if (lightness($color) > 80) {
    @return map-get($theme-colors, "base");
  }
  @else {
    @return map-get($theme-colors, "white");
  }
}

