// body {
//     background-color: color("background");
//     background-image: url('../../assets/glimakra_logos/tree_opacity.png');
//     background-repeat: no-repeat;
//     background-position: bottom -30px left -40px;
//     background-size: contain;
//     background-attachment: fixed;
// }