.btn {
	display: inline-block;
	border-radius: $border-radius;
	padding: 0.5rem 1rem;
	background-color: var(--primary-color);
	color: var(--white);
}

@each $name,
$color in $theme-colors {
	.btn-#{$name} {
		background-color: var(--#{$name}-color);
		color: set-btn-text-color($color);

		&:hover {
			background-color: darken($color, 15%);
		}
	}

	.btn-outline-#{$name} {
		border: 1px solid $color;
		background-color: initial;
		color: $color;

		&:hover {
			background-color: darken($color, 15%);
			color: set-btn-text-color($color);
		}
	}
}

// padding for buttons
@each $name,
$size in $btn-padding {
	.btn-padding-#{$name} {
		padding: calc(#{$size} / 2) $size;

		// Fallback icon buttons
		.icon-padding-right {
			@if $size==initial {
				padding-left: map-get($btn-padding, "small");
			}

			@else {
				padding-left: $size;
			}
		}

		.icon-padding-left {
			@if $size==initial {
				padding-right: map-get($btn-padding, "small");
			}

			@else {
				padding-right: $size;
			}
		}
	}
}


.ion-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-padding-right {
	padding-left: 0.5rem;
}

.icon-padding-left {
	padding-right: 0.5rem;
}