input[type=text],
input[type=password],
.textarea-container {
    padding: size("standard");
    width: 100%;
    font-size: size("standard");
    box-shadow: 1px 2px 7px color("tertiary");
    border-radius: 10px;
    border: 0;
    background: rgba(color("white"), 0.8);
}

.textarea-container {
    textarea {
        padding-right: size("standard");
        background-color: transparent;
        width: calc(100% - 3rem);
        padding: 0;
        border: none;
        outline: none;
        resize: none;
    }

    textarea::-webkit-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: none;
    }
}

.form-toolbar-wrapper {
    position: relative;
    .form-toolbar {
        margin: 0;
        position: absolute;
        top: 50%;
        right: size("standard");
        transform: translate(0, -50%);
        button,
        input input[type="submit"],
        input[type="reset"] {
            margin-right: 0.5rem;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;
        }
    }
}


.form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .form-content {
        width: 100%;
        max-width: 500px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: inherit;

        .form-group {
            margin-bottom: 5rem;
        }
    }

}