.input-feedback-info {
    color: color("muted");
    margin-top: space("small");  
    font-size: 80%
}

input[type=text],
input[type=password],
.textarea-container {
    padding: size("standard");
    width: 100%;
    font-size: size("standard");
    box-shadow: 1px 1px 2px color("tertiary");
    border-radius: 10px;
    border: 0;
    background: rgba(color("white"), 0.8);
}

.textarea-container {
    textarea {
        padding-right: size("standard");
        background-color: transparent;
        width: calc(100% - 3rem);
        padding: 0;
        border: none;
        outline: none;
        resize: none;
    }

    textarea::-webkit-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: none;
    }
}

.form-toolbar-wrapper {
    position: relative;

    .form-toolbar {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: size("standard");
        transform: translate(0, -50%);

        button,
        input input[type="submit"],
        input[type="reset"] {
            margin-right: 0;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;
        }
    }
}

.form-container {
    background: none;
    box-shadow: none;
    .form-content {
        width: 100%;
        max-width: 500px;

        .form-group {
            margin-bottom: 2rem;
        }

        .form-group-submit {
            margin-top: 4rem;
            text-align: center;

            .loginbtn {
                margin-bottom: 1rem;
            }
        }
    }

}

.comment-form-container {
    input[type=text],
    input[type=password],
    .textarea-container {
        padding: size("small");
    }
    i {
        font-size: size("large");    
    }
    .input-feedback-info {
        margin-top: space("extra-small");  
        font-size: 80%
    }
}