.module-container {
    margin: 0 1rem;
    padding: 1rem;
    background-color: red;

    .profile-header {
        margin-bottom: space("medium");

        .profile-info {
            display: flex;
            flex-wrap: wrap;

            .commenter-avatar {
                width: 60px;
                height: 60px;
            }

            .user-avatar {
                width: 80px;
                height: 80px;
            }

            .image-container {
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
                margin-right: 1rem;

                img {
                    background-color: blue;
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                }
            }

            .list-container {
                ul {
                    .profile-name {
                        font-size: size("standard");
                    }

                    .username {
                        font-size: size("standard");
                    }

                    .join-date {
                        font-size: size("small");
                    }
                }
            }

            .header-aside {
                margin-left: auto;
            }
        }
    }

    .profile-bio {
        margin-bottom: space("medium");
    }

    .profile-stats {
        .follower-count {}

        .react-count {
            margin-left: 20%;
        }
    }

    .post-content {
        margin-bottom: space("medium");
        .img-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: space("small");
        }
        .text-content {

        }
    }

    .reaction-container {
        .reaction-list {}

        .post-option {
            margin-left: auto;
        }
    }
}

#more {
    display: none;
}

#alterPostContent {
    white-space: nowrap;
}

@media screen and (min-width: 700px) {
    .profile-bio {
        width: 70%;
    }
}