main {
    
}

.module-container-background {
    background: rgba(color("white"), 0.9) 0% 0% no-repeat padding-box;
    border-radius: 13px;
    box-shadow: 0px 3px 6px color("tertiary");
    margin: space("medium") space("extra-large");
    padding: space("large");
    max-width: 600px;
}

.module-container-invisible {
    // background: rgba(color("white") , 0.9) 0% 0% no-repeat padding-box;
    background-color: transparent;
    margin: space("medium") space("extra-large");
    padding: space("large");
}