/** @format */

.backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0);
	pointer-events: none;
	z-index: 14;
	transition: all 300ms ease;

	&.open {
		background-color: rgba(0, 0, 0, 0.562);
		pointer-events: all;
	}
}

nav {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #333;
	margin-bottom: 5px;
	height: 64px;
	padding: 0.77rem;

	.align-right {
		margin-left: auto;
	}

	.align-left {
		margin-right: auto;
	}

	.nav-toggle {
		display: none;
		flex-direction: column;
		justify-content: space-around;
		height: 75%;
		width: 40px;
		margin-right: 0.77rem;

		span {
			height: 1.75px;
			width: 100%;
			display: block;
			background-color: rgb(255, 255, 255);
		}
	}

	.logo {
		height: 90%;
		margin: 0 10px 0 0;

		img {
			height: 100%;
			display: block;
		}
	}

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}

	.nav-content {
		display: flex;
		flex-grow: 1;
		width: 100%;
	}

	&.justify-start {
		> .nav-content {
			justify-content: flex-start;
		}
	}

	&.justify-end {
		> .nav-content {
			justify-content: flex-end;
		}
	}

	&.justify-between {
		> .nav-content {
			justify-content: space-between;
		}
	}

	&.justify-center {
		> .nav-content {
			justify-content: center;
		}
	}

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&:not(:last-of-type) {
				margin-right: 10px;
			}

			a {
				color: rgb(255, 255, 255);
				display: inline-block;
			}
		}
	}
}

@media (max-width: 864px) {
	nav {
		display: flex;
		justify-content: space-between;
		position: relative;

		.nav-content {
			position: fixed;
			width: 0;
			overflow: hidden;
			top: 0;
			height: 100%;
			background-color: inherit;
			z-index: 15;
			flex-direction: column;
			transition: all 300ms ease;

			&.anchor-right {
				right: 0;
				left: unset;
			}

			&.anchor-left {
				left: 0;
				right: unset;
			}

			&.open {
				width: 300px;
			}
		}

		.nav-toggle {
			display: flex;
		}
	}
}
