*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

body {
    font-family: $font-family-base;
}

a {
    display: inline-block;
}

code {
    border-radius: .4rem;
    margin: 2rem 0;
    background-color: var(--muted-color);
    display: block;
    padding: 2rem;
}