h1, h2, h3, h4, h5, h6, p {
    margin-bottom: space("standard");
}
b {
    font-weight: $font-weight-standard;
}

.more {
    display: none;
}

.postContent {
    color: color("secondary");
    white-space: nowrap;
}

.post-date {
    color: color("muted");
}

.loginbtn {
	font-size: size("large");
}

.follow-btn {
    font-size: size("standard");
}

.fileUploadIcon {

}

.ActivateCameraIcon {

}

.submitUploadIcon {
font-size: size("extra-large");
}

#hamburger-container {
    font-weight: $font-weight-standard;
    nav {
        font-size: size("standard");
        .nav-menu {
            .menu-icon {
                font-size: size("extra-large");
            }
        }
    
        .nav-settings {
            font-size: size("standard");
        }
    }  
}
