/** @format */
.col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 576px) {
  .col-small-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-small-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-small-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-small-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-small-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-small-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-small-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-small-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-small-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-small-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-small-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-small-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-medium-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-medium-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-medium-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-medium-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-medium-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-medium-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-medium-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-medium-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-medium-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-medium-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-medium-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-medium-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-large-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-large-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-large-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-large-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-large-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-large-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-large-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-large-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-large-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-large-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-large-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-large-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xlarge-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-xlarge-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-xlarge-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-xlarge-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-xlarge-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-xlarge-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-xlarge-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-xlarge-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-xlarge-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
  .col-xlarge-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-xlarge-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-xlarge-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/**
 * /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 *
 * @format
 */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

:root {
  --white-color: #ffffff;
  --base-color: #1c1c1c;
  --primary-color: #626ED4;
  --secondary-color: #EE4266;
  --success-color: #2AA39A;
  --danger-color: #EC4561;
  --warning-color: #F8B425;
  --info-color: #38A5F8;
  --light-color: #f8f8fa;
  --dark-color: #575c62;
  --muted-color: #EDECF1;
  --font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: var(--font-sans-serif);
}

a {
  display: inline-block;
}

/** @format */
.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0px 1rem;
  margin: 0px auto;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1rem 0px;
}

.container section {
  padding: 4rem 0;
}

.container section:not(:last-of-type) {
  border-bottom: 10px solid #dfdfdf;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

/** @format */
.btn {
  display: inline-block;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-white {
  background-color: var(--white-color);
  color: #1c1c1c;
}

.btn-white:hover {
  background-color: #d9d9d9;
}

.btn-outline-white {
  border: 1px solid #ffffff;
  background-color: initial;
  color: #ffffff;
}

.btn-outline-white:hover {
  background-color: #d9d9d9;
  color: #1c1c1c;
}

.btn-base {
  background-color: var(--base-color);
  color: #ffffff;
}

.btn-base:hover {
  background-color: black;
}

.btn-outline-base {
  border: 1px solid #1c1c1c;
  background-color: initial;
  color: #1c1c1c;
}

.btn-outline-base:hover {
  background-color: black;
  color: #ffffff;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #3240b7;
}

.btn-outline-primary {
  border: 1px solid #626ED4;
  background-color: initial;
  color: #626ED4;
}

.btn-outline-primary:hover {
  background-color: #3240b7;
  color: #ffffff;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: #d1133b;
}

.btn-outline-secondary {
  border: 1px solid #EE4266;
  background-color: initial;
  color: #EE4266;
}

.btn-outline-secondary:hover {
  background-color: #d1133b;
  color: #ffffff;
}

.btn-success {
  background-color: var(--success-color);
  color: #ffffff;
}

.btn-success:hover {
  background-color: #1a6661;
}

.btn-outline-success {
  border: 1px solid #2AA39A;
  background-color: initial;
  color: #2AA39A;
}

.btn-outline-success:hover {
  background-color: #1a6661;
  color: #ffffff;
}

.btn-danger {
  background-color: var(--danger-color);
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #cf1534;
}

.btn-outline-danger {
  border: 1px solid #EC4561;
  background-color: initial;
  color: #EC4561;
}

.btn-outline-danger:hover {
  background-color: #cf1534;
  color: #ffffff;
}

.btn-warning {
  background-color: var(--warning-color);
  color: #ffffff;
}

.btn-warning:hover {
  background-color: #ca8b06;
}

.btn-outline-warning {
  border: 1px solid #F8B425;
  background-color: initial;
  color: #F8B425;
}

.btn-outline-warning:hover {
  background-color: #ca8b06;
  color: #ffffff;
}

.btn-info {
  background-color: var(--info-color);
  color: #ffffff;
}

.btn-info:hover {
  background-color: #0880dc;
}

.btn-outline-info {
  border: 1px solid #38A5F8;
  background-color: initial;
  color: #38A5F8;
}

.btn-outline-info:hover {
  background-color: #0880dc;
  color: #ffffff;
}

.btn-light {
  background-color: var(--light-color);
  color: #1c1c1c;
}

.btn-light:hover {
  background-color: #cbcbda;
}

.btn-outline-light {
  border: 1px solid #f8f8fa;
  background-color: initial;
  color: #f8f8fa;
}

.btn-outline-light:hover {
  background-color: #cbcbda;
  color: #1c1c1c;
}

.btn-dark {
  background-color: var(--dark-color);
  color: #ffffff;
}

.btn-dark:hover {
  background-color: #333639;
}

.btn-outline-dark {
  border: 1px solid #575c62;
  background-color: initial;
  color: #575c62;
}

.btn-outline-dark:hover {
  background-color: #333639;
  color: #ffffff;
}

.btn-muted {
  background-color: var(--muted-color);
  color: #1c1c1c;
}

.btn-muted:hover {
  background-color: #c3c0d1;
}

.btn-outline-muted {
  border: 1px solid #EDECF1;
  background-color: initial;
  color: #EDECF1;
}

.btn-outline-muted:hover {
  background-color: #c3c0d1;
  color: #1c1c1c;
}

.btn-none {
  padding: initial;
}

.btn-small {
  padding: 0.5rem;
}

.btn-medium {
  padding: 1rem;
}

.btn-large {
  padding: 2rem;
}

/** @format */
.fancy-link {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

.fancy-link:hover {
  background-size: 100% 3px;
}

.fancy-box {
  --border-width: 5px;
  position: relative;
  width: auto;
  height: auto;
  color: black;
  background-color: white;
  padding: 2rem;
  -webkit-transition: background-size 300ms ease;
  transition: background-size 300ms ease;
}

.fancy-box:hover::after {
  background-size: 200%;
  -webkit-animation: moveGradient 4s alternate infinite;
          animation: moveGradient 4s alternate infinite;
}

.fancy-box::after {
  position: absolute;
  content: '';
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: -webkit-gradient(linear, left top, right top, from(var(--primary-color)), to(var(--secondary-color)));
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  background-size: 100% 100%;
  background-position: 0 50%;
}

@-webkit-keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/** @format */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 14;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.backdrop.open {
  background-color: rgba(0, 0, 0, 0.562);
  pointer-events: all;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #333;
  margin-bottom: 5px;
  height: 64px;
  padding: 0.77rem;
}

nav .align-right {
  margin-left: auto;
}

nav .align-left {
  margin-right: auto;
}

nav .nav-toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 75%;
  width: 40px;
  margin-right: 0.77rem;
}

nav .nav-toggle span {
  height: 1.75px;
  width: 100%;
  display: block;
  background-color: white;
}

nav .logo {
  height: 90%;
  margin: 0 10px 0 0;
}

nav .logo img {
  height: 100%;
  display: block;
}

nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

nav .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

nav.justify-start > .nav-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav.justify-end > .nav-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav.justify-between > .nav-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.justify-center > .nav-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-of-type) {
  margin-right: 10px;
}

nav ul li a {
  color: white;
  display: inline-block;
}

@media (max-width: 864px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  nav .nav-content {
    position: fixed;
    width: 0;
    overflow: hidden;
    top: 0;
    height: 100%;
    background-color: inherit;
    z-index: 15;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  nav .nav-content.anchor-right {
    right: 0;
    left: unset;
  }
  nav .nav-content.anchor-left {
    left: 0;
    right: unset;
  }
  nav .nav-content.open {
    width: 300px;
  }
  nav .nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */